{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block css %}


{% endblock css %}
{% block body %}

<section id="about-html" class="container-fluid">
  <div class="container text-center about-heading">
    <h1>Ghar Sewa</h1>
    <p>TGhar Sewa is a service based website providing house maintenance services with highest quality work from experienced technicians. It provides different types of services like plumber, electrician, bathroom repair, furniture repair etc. Customers can find his/her service provider in just a click and he/she will be at customer’s door. With complete profiles of professionals, including their work details, service information and reviews; customer can be sure of hiring the right service professional each and every time at Ghar Sewa.</p>
    <p>How amazing would it be if you had all your home related problems solved in just a few minutes? Right from remodeling your living space to home services can be delivered to your doorstep. All you need is to find some home services online and say goodbye to all your home related problems.
        That's where we come in to aid you in every possible way to make your daily life easier.</p>
  </div>
</section>

<div class="container section-ourTeam my-2">
  <div class="row">
    <div class="col-md-12 ourTeam-hedding text-center">
      <h1>Our Team</h1>
    </div>
  </div>
  <div class="row container">

    <div class="col-md-6 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/developers/sudip.jpg">
        </div>
        <div class="col-md-12 section2">
          <h5>Sudip Paudel</h5>
          <p>Project Leader</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 m-2">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/developers/ishan.jpg">
        </div>
        <div class="col-md-12 section2">
          <h5>Ishan Raj Sapkota</h5>
          <p>Backend Developer</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/developers/ayer.jpg">
        </div>
        <div class="col-md-12 section2">
          <h5>Ashish Ayer</h5>
          <p>Frontend Developer</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
        <div class="row section-success ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="/static/developers/unique.jpg">
          </div>
          <div class="col-md-12 section2">
            <h5>Unique Pradhan</h5>
            <p>Project Assistance(Frontend and Documentation)</p>
          </div>
          <div class="col-md-12 section3">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>

  </div>
</div>

{% endblock body %}